* {
  font-family: sans-serif;
}

body {
  background: rgba(0, 0, 0, 0.4);
  background-blend-mode: darken;
  background-image: url("https://images.unsplash.com/photo-1486406146926-c627a92ad1ab?q=80&w=1770&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  /*  ?company"); */
  background-size: cover;
  background-attachment: fixed;
  object-fit: cover;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
}

.welcome,
.welcome2 {
  width: 450px;
  height: 500px;
  background-color: #005776;
  color: #f1fbff;
  border-radius: 10px 0 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome2 {
  border-radius: 0 10px 10px 0;
}

.logo,
.logo2 {
  width: 350px;
}

.texto_cad,
.texto_cad2 {
  font-size: 20px;
  text-align: center;
  padding-bottom: 2rem;
  margin: -1rem 2rem 1.5rem 2rem;
}

.button_cad,
.button_cad2 {
  text-transform: uppercase;
  width: 17rem;
  height: 2.5rem;
  border-radius: 20px;
  background: transparent;
  color: #f1fbff;
  border: 1px solid #f1fbff;
  font-weight: bold;
}

.button_cad:hover {
  background-color: #f1fbff;
  color: rgb(0, 87, 118);
  transition: 500ms;
}

.button_cad2:hover {
  background-color: #f1fbff;
  color: rgb(0, 87, 118);
  transition: 500ms;
}

.form,
.form2 {
  width: 510px;
  height: 500px;
  backdrop-filter: blur(10px);
  background: #00000080;
  color: #f1fbff;
  border-radius: 0px 10px 10px 0px;
}

.form2 {
  border-radius: 10px 0 0 10px;
}

.login,
.login2 {
  display: flex;
  gap: 1rem;
  margin-top: -17px;
}

.login2 {
  margin-top: -47px;
}

.description,
.description2 {
  font-size: 15px;
  text-align: center;
}

.description2 {
  margin: -0.3rem 0rem 1.4rem 0;
  font-size: 13px;
}

form {
  display: flex;
  flex-direction: column;
  padding: 4rem;
  align-items: center;
  gap: 1rem;
}

.email,
.senha,
.nome,
.tel,
.email2 {
  width: 20rem;
  height: 1.5rem;
  border-radius: 20px;
  color: #f1fbff;
  padding: 0.7rem 0 0.7rem 2.3rem;
  outline: none;
  font-size: 15px;
  margin-block: 0.5rem;
  border: 1px solid #f1fbff;
  background-color: transparent;
}

.pai_form {
  display: flex;
  flex-wrap: wrap;
  margin-top: -20px;
  gap: 0;
}

.nome,
.tel,
.email2,
.senha2 {
  width: 12rem;
  height: 1rem;
  font-size: 13px;
  padding: 0.7rem 0 0.7rem 2rem;
  border-radius: 16px;
}

.icone_nome {
  width: 1.1rem;
  top: 7.9rem;
  left: 2.3rem !important;
}

.icone_email {
  width: 1rem;
  top: 8rem;
  left: 16.8rem !important;
}

.icone_tel {
  width: 1rem;
  top: 12.5rem;
  left: 2.2rem !important;
}

.icone_senha {
  width: 1.1rem;
  top: 12.4rem;
  left: 16.8rem !important;
}

.grupo .olho {
  width: 1.1rem;
  top: 12.5rem;
  left: 28.5rem;
}

.label_radio {
  cursor: pointer;
}
.label {
  font-size: 13px;
}

.focus {
  border: 1px solid #4a89aa;
  transition: 300ms;
}

.email::placeholder,
.senha::placeholder {
  color: #e4f4f1c5;
  font-size: 14px;
}

.nome::placeholder,
textarea::placeholder,
.email2::placeholder,
.tel::placeholder,
.senha2::placeholder {
  color: #e4f4f1c5;
  font-size: 13.5px;
}

.grupo {
  display: flex;
  gap: 0.5rem;
  flex-direction: row;
}

.tamanho {
  font-size: 13px;
  gap: 1rem;
  justify-content: center;
  display: flex;
}

.range {
  margin-top: -3px;
  align-items: center;
}

#range {
  -webkit-appearance: none;
  background: #005776;
  outline: none;
  width: 30%;
  height: 0.3rem;
  border-radius: 9px;
}

#range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #f1fbff;
  cursor: pointer;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-position: right center;
  background-repeat: no-repeat;
  padding-right: 25px;
  background-color: #005776;
  color: #f1fbff;
  outline: none;
  border: none;
  padding: 0.2rem 0.5rem;
  border-radius: 5px;
}

select option {
  background-color: #005776;
  color: #f1fbff;
}

select option:hover {
  color: #005776;
  background-color: #f1fbff;
}

textarea {
  padding: 0.5rem;
  border: 1px solid #f1fbff;
  border-radius: 10px;
  outline: none;
  font-size: 11px;
  background: transparent;
  color: #f1fbff;
}

.flex {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.size {
  display: flex;
  align-items: center;
  font-size: 12px !important;
}

.error {
  position: absolute;
  color: red;
  font-size: 12px;
  top: 14rem;
  left: 4.7rem;
}

.error2 {
  position: absolute;
  color: red;
  font-size: 12px;
  top: 20.2rem;
  left: 4.7rem;
}

.error_email {
  position: absolute;
  color: red;
  font-size: 9px;
  top: 9.5rem;
  left: 19rem;
}
.error_senha {
  position: absolute;
  color: red;
  font-size: 9px;
  top: 13.9rem;
  left: 20rem;
}
.error_nome {
  position: absolute;
  color: red;
  font-size: 9px;
  top: 9.5rem;
  left: 4.2rem;
}

.error_tel {
  position: absolute;
  color: red;
  font-size: 9px;
  top: 13.9rem;
  left: 4.2rem;
}

.loadingCad {
  top: 26.6rem !important;
}

.icone {
  position: absolute;
  left: 4.7rem;
}

.icon_email {
  top: 12.5rem;
  width: 1.1rem;
}
.icon_senha {
  top: 18.6rem;
  width: 1.2rem;
}

.olho {
  position: absolute;
  top: 18.7rem;
  width: 1.2rem;
  right: 6.1rem;
  cursor: pointer;
}

h1 {
  margin: 0;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  gap: 3rem;
}

.footer2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 0.8rem;
}
.checkbox-container {
  display: flex;
  align-items: center;
}

.checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkbox-label {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  user-select: none;
  color: #f1fbff;
  font-size: 13px;
}

.checkbox-label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 17px;
  height: 17px;
  border: 1px solid #f1fbff;
  border-radius: 4px;
  background-color: transparent;
}

.checkbox:checked + .checkbox-label::before {
  background-color: #005776;
  border-color: #005776;
}

.checkbox:checked + .checkbox-label::after {
  content: "";
  position: absolute;
  left: 7px;
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
  width: 3px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
}

.checkbox2 {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #005776 !important;
  border-radius: 4px;
  vertical-align: middle;
  margin-right: 10px;
}

.checkbox-label2 {
  font-size: 16px;
  color: #f1fbff;
  vertical-align: middle;
}

.radio {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.radio + label::before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 11.8px;
  margin-right: 6px;
  border-radius: 50%;
  border: 1px solid #f1fbff;
  background-color: transparent;
  vertical-align: middle;
}

.radio:checked + label::before {
  background-color: #005776;
  border: 1.5px solid #f1fbff;
}

span a {
  text-decoration: none;
  color: #f1fbff;
  font-size: 12px;
}

.html5 {
  position: absolute;
  left: 0;
  padding: 0.5rem;
  text-decoration: none;
  color: #f1fbff;
  font-size: 10px;
}

.html5:hover {
  text-decoration: underline;
}

.html5_2 {
  position: absolute;
  right: 0;
  padding: 0.5rem;
  text-decoration: none;
  color: #f1fbff;
  font-size: 10px;
}

.html5_2:hover {
  text-decoration: underline;
}

span a:hover {
  text-decoration: underline;
}

.submit,
.submit2 {
  border-radius: 30px;
  border: none;
  background-color: #005776;
  color: #f1fbff;
  width: 75%;
  height: 2.7rem;
  margin-top: 0.5rem;
}

.submit:hover {
  border: 1px solid #f1fbff;
  cursor: pointer;
}
.submit2:hover {
  border: 1px solid #f1fbff;
  cursor: pointer;
}

.loading {
  width: 2rem;
  position: absolute;
  top: 25.2rem;
  left: 15rem;
  display: none;
}

div:where(.swal2-icon).swal2-success .swal2-success-ring {
  position: absolute;
  z-index: 2;
  top: -0.25em;
  left: -0.25em;
  box-sizing: content-box;
  width: 100%;
  height: 100%;
  border: 0.25em solid #f1fbff !important;
  border-radius: 50%;
}

.swal2-popup.swal2-toast {
  background: #005776 !important;
  color: #f1fbff;
}

div:where(.swal2-container) div:where(.swal2-timer-progress-bar) {
  background-color: #f1fbff !important;
}

.container2 {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-direction: row-reverse;
}

.error_auth {
  position: absolute;
  top: 27.5rem;
  color: red;
  font-size: 13px;
}

@media screen and (max-width: 1000px) {
  .container,
  .container2 {
    flex-direction: column;
    align-items: center;
    top: 62%;
    width: 100%;
  }

  .welcome,
  .welcome2 {
    width: 510px;
  }

  .form,
  .welcome,
  .welcome2,
  .form2 {
    border-radius: 0;
  }
}

@media screen and (max-width: 600px) {
  .formCad {
    gap: 1rem;
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    top: 28rem;
  }

  .input {
    width: 18rem !important;
    height: 1.4rem !important;
    border-radius: 17px;
  }

  .error_auth {
    top: 27.5rem;
  }

  .container2 {
    top: 43rem;
    flex-direction: column-reverse;
  }

  textarea {
    width: 100%;
  }
  .submit2 {
    width: 100%;
  }

  textarea::placeholder {
    font-size: 12px;
  }

  .footer2 {
    flex-direction: column;
    gap: 2rem;
  }

  .pai_form {
    width: 100%;
    justify-self: center;
  }

  .grupo {
    flex-direction: column;
    gap: 0 !important;
  }

  .icone {
    position: relative;
    margin-block: -1rem;
  }

  .icone_nome {
    width: 1.2rem;
    left: 0.6rem !important;
    top: -3rem;
  }

  .icone_email {
    width: 1rem;
    left: 0.6rem !important;
    top: -3.2rem;
  }

  .icone_tel {
    left: 0.5rem !important;
    width: 1.1rem;
    top: -9rem;
  }

  .icone_senha {
    left: 0.5rem !important;
    top: 2.7rem;
    width: 1.2rem;
  }

  .relative {
    position: relative;
    top: -23.4rem;
    right: 1.6rem;
  }
  .olhoM {
    left: 20rem !important;
    top: 25.8rem !important;
  }

  .error_nome {
    position: absolute;
    color: red;
    font-size: 9px;
    top: 10rem;
    left: 2rem;
  }

  .error_email {
    position: absolute;
    color: red;
    font-size: 9px;
    top: 15.6rem;
    left: 2rem;
  }

  .error_tel {
    position: absolute;
    color: red;
    font-size: 9px;
    top: 21.5rem;
    left: 2rem;
  }

  .error_senha {
    position: absolute;
    color: red;
    font-size: 9px;
    top: 27.3rem;
    left: 2rem;
  }

  .loadingCad {
    position: relative;
    top: -3.3rem !important;
  }

  .footer {
    width: 117%;
  }

  .range {
    text-align: center;
  }

  form .pai_form {
    width: 100%;
    justify-content: center;
  }

  .tel {
    margin-top: 10px;
  }

  .form2 {
    width: 100%;
    height: 100%;
  }

  .welcome,
  .welcome2 {
    width: 100%;
    height: 55vh;
  }

  .texto_cad,
  .texto_cad2 {
    font-size: 17px;
    margin: -1rem 2rem -0.5rem 2rem;
  }

  .button_cad,
  .button_cad2 {
    text-transform: uppercase;
    width: 14rem;
    height: 3rem;
    margin-bottom: 34px;
  }

  form {
    gap: 0.1rem;
  }

  .form {
    width: 100%;
    height: 90%;
  }

  .email,
  .senha {
    width: 18rem;
  }

  .icone {
    left: 0.7rem;
  }

  .icon_email {
    top: -3.4rem;
  }

  .icon_senha {
    top: -3.4rem;
  }

  .submit {
    width: 100%;
    margin-top: 1.7rem;
  }

  .error {
    position: relative;
    color: red;
    font-size: 12px;
    top: -14.5rem;
    left: -4rem;
  }

  .error2 {
    position: relative;
    color: red;
    font-size: 12px;
    top: -10.6rem;
    left: -6rem;
  }

  .loading {
    width: 2rem;
    position: relative;
    top: -2.5rem;
    left: 0.1rem;
    display: none;
  }

  /* ---------- swal------------- */

  div:where(.swal2-icon).swal2-success .swal2-success-ring {
    position: absolute;
    z-index: 2;
    top: -0.25em;
    left: -0.25em;
    box-sizing: content-box;
    width: 100%;
    height: 100%;
    border: 0.25em solid #005776 !important;
    border-radius: 50%;
  }

  .swal2-popup.swal2-toast {
    background: #f1fbff !important;
    color: #005776;
  }

  div:where(.swal2-container) div:where(.swal2-timer-progress-bar) {
    background-color: #005776 !important;
  }

  div:where(.swal2-icon).swal2-success [class^="swal2-success-line"] {
  }

  .swal2-popup.swal2-toast .swal2-title {
    font-size: 1.1em !important;
  }

  input[type="password"]::-ms-reveal {
    display: none;
  }

  .relative_login {
    position: relative;
    top: -21.8rem;
    left: 1.4rem;
  }

  .olho {
    position: absolute;
    top: 18.2rem;
    width: 1.2rem;
    right: 2.2rem;
    cursor: pointer;
  }

  .olho_aberto {
    display: none;
  }
}
.animation_welcome {
  animation: animation_welcome 1s forwards;
}

.animation_form {
  animation: animation_form 1s forwards;
}

.animation_welcome2 {
  animation: animation_welcome2 1s forwards;
}

.animation_form2 {
  animation: animation_form2 1s forwards;
}

/* -------------------animations---------------------- */
@keyframes animation_welcome {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(68.9vh);
  }
}

@keyframes animation_form {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-60.3vh);
  }
}

@keyframes animation_form2 {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(60.4vh);
  }
}

@keyframes animation_welcome2 {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-68.8vh);
  }
}

@media (max-width: 1000px) {
  .animation_welcome {
    animation: animation_welcome_mobile 1s forwards;
  }

  .animation_form {
    animation: animation_form_mobile 1s forwards;
  }

  .animation_welcome2 {
    animation: animation_welcome2_mobile 1s forwards;
  }

  .animation_form2 {
    animation: animation_form2_mobile 1s forwards;
  }

  @keyframes animation_welcome_mobile {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(80vh);
    }
  }

  @keyframes animation_form_mobile {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(-51vh);
    }
  }

  @keyframes animation_form2_mobile {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(55vh);
    }
  }

  @keyframes animation_welcome2_mobile {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(-100vh);
    }
  }
}

@media screen and (max-width: 370px) {
  .email,
  .senha {
    width: 15.5rem;
  }

  .logo {
    width: 330px;
  }

  
}
